* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #94d9ea;
}
body.dark {
    background: #222;
}
.switchDark{
    background-color: #3494b1;
    display:flex;
    position: absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;   
}
.switchDark span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #fff;
    background: none;  
}
.switchDark::after{
    display: block;
    background: #fffbf5;
    width: 1.8rem;   
    height:1.8rem;
    position:absolute;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 50%;
    transition: all .5s ease;
    box-shadow: 0 0 1.5px 1.5px rgb(0,0,0, .5);
    content: "";
    
}
.switchDark.active{
    background: #fdd384;
}
.switchDark.active::after{
    left: unset;
    right: 0;
}

.contenido-central {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.seccion-izquierda {
    grid-column: span 2;
    height: 100%;
    background-color: #00324a;
}

.seccion-derecha {
    grid-column: span 5;
    height: 100%;
    background-color: rgb(243, 243, 243);
}

.contenido-izquierdo {
    padding: 2rem 48px;
}

.perfil {
    width: 100%;
    /**border-bottom: 1px solid white;*/
}
.image {
    width: 100%;
    text-align: center;
}
.perfil img {
    width: 100%;
    border-radius: 50%;
    border: 8px solid;
}

.nombre {
    font-size: 28px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 18px 0;
}

.carrera {
    font-size: 15px;
    color: rgb(209, 204, 204);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 32px;

}

.titulo-contacto {
    font-size: 18px;
    letter-spacing: 1px;
    color: grey;
    padding-bottom: 10px;
    padding-top: 20px;
}
.titulo-informacion{
    font-size: 20px;
    letter-spacing: 1px;
    color: grey;
    padding-bottom: 10px;
}
.icono-contacto{
    display: flex;
    background-color: rgb(247, 241, 241);
    gap:1.1rem;
    padding: 1rem 0 0 1rem;
    border-radius: 1rem ;
    
}
.icono-contacto .bx{
    font-size: 1.6rem;
    color: black;
    padding-bottom: 10px;
   

}
.info-personal{
    font-size: 18px;
    letter-spacing: 1px;
    color: grey;
    padding-bottom: 10px;
}
.texto-personal{
font-size: 14px;
padding: 10px;
color: rgb(71, 164, 218);
align-items: center;
}
/**.informacion-de-contacto ul {
    padding-top: 32 px;
}

.informacion-de-contacto ul li {
    padding: 12px 0;
    display: flex;
    align-items: center;
    color: #718096;
}

.informacion-de-contacto ul li i {
    padding-right: 16px;
    font-size: 18px;
    color: #2d9cdb;
} */

.seccion-de-habilidades ul {
    padding-top: 10px;
    
}

.seccion-de-habilidades ul li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 8px 0;
}

.barra-progreso {
    width: 100%;
    height: 8px;
    background-color: #718096;
    position: relative;
    border-radius: 12px;
}

.progreso {
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #94d9ea;
    border-radius: 12px;
}

.js-progreso {
    width: 35%;
}

.html-progreso {
    width: 35%;
}

.css-progreso {
    width: 25%;
}

.php-progreso {
    width: 20%;
}

.sql-progreso {
    width: 45%;
}

.py-progreso {
    width: 55%;
}

.ruby-progreso {
    width: 30%;
}

.titulo-de-habilida {
    color: aliceblue;
    font-size: 16px;
    text-transform: uppercase;
}

.titulo-habilidad {
    font-size: 20px;
    letter-spacing: 1px;
    color: grey;
    padding-bottom: 10px;
}

.contenido-derecho {
    padding: 2rem 48px;
}

.titutlo-derecho {
    letter-spacing: 1px;
    color: #2d9cdb;
    padding-bottom: 19px;
    position: relative;
}

.texto-derecho {
    line-height: 18px;
    color: black;
    font-size: 18px;
}

/**:after crea un pseudo-elemento que es el último hijo del elemento seleccionado. 
Es comunmente usado para añadir contenido cosmético a un elemento con la propiedad content.
Es en linea (inline) de forma predeterminada.*/

.titutlo-derecho::after{
    content: "";
    position: absolute;
    width: 60%;
    height: .2rem;
    background-color: #2d9cdb;
    border-radius: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.sec{
    padding-bottom: 2rem;
}
.timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.tl-title{
    letter-spacing: 1px;
    font-size: 22px;
    color: #002333 ;
    text-transform: uppercase;

}
.tl-title2 {
    letter-spacing: 1px;
    font-size: 22px;
    color: #2d9cdb;
    text-transform: uppercase;
     

}
.tl-content{
    border-left: 1px solid #ccc ;
    padding-left: 32px;
    position: relative;
    padding-bottom: 32px;
}
.tl-title2::before{
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #2d9cdb;
    border-radius: 50%;
    transform: translateX(-50%);
    left:0;
}
/*Media Querries*/
@media screen and (max-width:823px) {
    .titulo-derecho::after {
        width: 40%;
    }
}

@media screen and (max-width:681px) {
    .titulo-derecho::after {
        width: 30%;
    }
}

@media screen and (max-width:780px) {
    .timeline {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:780px) {
    .seccion-izquierda {
        grid-column: span 3;
    }

    .seccion-derecha {
        grid-column: span 4;
    }
}

@media screen and (max-width:1200px) {
    .contenido-central {
        grid-template-columns: repeat(1, 1fr);
    }

    .perfil img {
        width: 40%;
    }
}

@media screen and (max-width:700px) {
    .perfil img {
        width: 60%;
    }
}

@media screen and (max-width:390px) {
    .nombre{
        font-size: 1.5rem;
    }
}
